:root{
  --primary-almostWhite:hsl(0, 0%, 98%);
  --primary-MediumGray:hsl(0, 0%, 41%);
  --primary-AlmostBlack:hsl(0, 0%, 8%);
  --primary-AlmostBlack1:hsla(0, 0%, 8%, 0.5);
  --font-weight500:500;
  --font-family: "Epilogue";
  --font-weight700:700;
  --font-size16:16pt;
  --font-size14:14pt;
  --font-size18:18pt;
  --font-size20:20pt;
  --font-size24:24pt;
  --font-size26:26pt;
  --font-size30:30pt;
  --font-size40:40pt;
}
/* Css reset */


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding:0;
  font-family:"Epilogue",'Times New Roman', Times, serif;
}

html, body {
  min-height:100vh;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#root, #__next {
  isolation: isolate;
}

button{
  border: 0;
  outline: 0;
  background-color: transparent;
  color: black;
  cursor: pointer;
}



ol, li,ul {
  list-style: none;
}
/* Css reset ends */

/* presets */
